{% load widget_tweaks %}
<form 
    
    hx-post="{% if form.instance.id %}
                {% url 'inventory:stock-movement-edit' form.instance.id %}
            {% else %}
                {% if form.warehouse %} 
                    {% url 'inventory:stock-movement-create' form.warehouse.value %}
                {% else %}
                    {% url 'inventory:stock-movement-create' warehouse.pk %}
                {% endif %}
            {% endif %}" 
    hx-target="{% if form.instance.pk %}#stock-movement-row-{{ form.instance.id }}{% else %}#stock-movement-table-body{% endif %}"
    hx-swap="{% if form.instance.pk %}outerHTML{% else %}afterbegin{% endif %}"
    hx-encoding='multipart/form-data'
    hx-on:success="document.getElementById('stock-movement-modal').close(); this.reset();"
    
    class="mb-4">

    {% csrf_token %}

    <h3 class="font-bold text-lg mb-4">
            {% if form.instance.id %}
                Edit Stock Movement
            {% else %}
                Add New Draft Stock Movement
            {% endif %}
    </h3>

    <!-- <input type="hidden" name="warehouse_id" value="{{ warehouse }}"> -->
    {{ form.warehouse|add_class:"hidden" }}

    <div class="form-control w-full">
        <div class="mb-4">
            <label class="block mb-1 text-sm font-medium">reference_type:</label>
            {{ form.reference_type|add_class:"w-full px-3 py-2 border rounded" }}
            {% if form.reference_type.errors %}
            <div class="text-error text-sm mt-1">
                {% for error in form.reference_type.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="block mb-1 text-sm font-medium">reference_id:</label>
            {{ form.reference_id|add_class:"w-full px-3 py-2 border rounded" }}
            {% if form.reference_id.errors %}
            <div class="text-error text-sm mt-1">
                {% for error in form.reference_id.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="mb-4">
            <label class="block mb-1 text-sm font-medium">Note:</label>
            {{ form.note|add_class:"w-full px-3 py-2 border rounded" }}
            {% if form.note.errors %}
            <div class="text-error text-sm mt-1">
                {% for error in form.note.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        
        <div class="mb-4">
            <label class="block mb-1 text-sm font-medium">Status:</label>
            {{ form.status|add_class:"w-full px-3 py-2 border rounded" }}
            {% if form.status.errors %}
            <div class="text-error text-sm mt-1">
                {% for error in form.status.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        

        <!-- แสดง non-field errors -->
        
        {% if form.non_field_errors %}
        <div class="text-error text-sm mb-4">
            {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>

    <div class="modal-action">
        <button type="button" class="btn" onclick="document.getElementById('stock-movement-modal').close()">Cancel</button>
        <button type="submit" class="btn btn-primary">
            {% if form.instance.id %}
                Edit Warehouse
            {% else %}
                Add Warehouse
            {% endif %}
        </button>
    </div>

</form>