<tr id="stock-movement-row-{{ movement.id }}">
    <td><a href="{% url 'inventory:stock-movement-detail' movement.id %}">{{ movement.pk }}</a></td>
    <td>{{ movement.reference_type }}</td>
    <td>{{ movement.reference_id }}</td>
    <td>{{ movement.status }}</td>
    <td>{{ movement.note }}</td>
    <td>{{ movement.created_by.username }}</td>
    <td>{{ movement.created_at|date:"M d, Y" }}</td>
    
    
    <td>
        {% if movement.status == 'DRAFT' %}
        <button class="btn btn-error" 
            hx-delete="{% url 'inventory:stock-movement-delete' movement.id %}"
            hx-confirm="Are you sure you want to delete this movement?"
            hx-target="closest tr"
            hx-swap="delete"
            cfrf-token="{{ csrf_token }}"
            >Delete</button>
        {% endif %}
    </td>
    
</tr>