{% if warehouse %}

<!-- <div class="overflow-x-auto"> -->
<h2 class="text-center">Warehouse Detail</h2>
<!-- table definition list style -->
<table class="table table-zebra table-pin-rows">
    <tbody id="warehouse-table-body">
        <tr>
            <th class="w-10">Name</th>
            <td>{{ warehouse.name }}</td>
        </tr>
        <tr>
            <th class="w-10">Address</th>
            <td>{{ warehouse.address }}</td>
        </tr>
        <tr>
            <th class="w-10">Created by</th>
            <td>{{warehouse.created_by}}: {{ warehouse.created_at|date:"Y-m-d H:i:s" }}</td>
        </tr>
        <tr>
            <th class="w-10">Updated by</th>
            <td>{{warehouse.updated_by}}: {{ warehouse.updated_at|date:"Y-m-d H:i:s" }}</td>
        </tr>
    </tbody>
</table>
<!-- button to back -->
<div class="text-center mt-4">
    <button class="btn btn-info px-24" onclick="history.back()">Go Back</button>
</div>

{% else %}
<div class="text-center text-gray-500">
    <p>No form data available.</p>
</div>
{% endif %}