<div class="list-group shadow mt-1">
  {% for item in items %}
    <button class="list-group-item list-group-item-action text-start"
        type="button"
        data-id="{{ item.pk }}"
        data-name="{{ item.name|escapejs }}"
    >
        <div class="d-flex justify-content-between">
            <div>
                <strong>{{ item.sku_code }}</strong> - {{ item.name }}
            </div>
            <small class="text-muted">{{ item.type }}</small>
        </div>
    </button>
  {% empty %}
    <div class="list-group-item text-muted">No items found</div>
  {% endfor %}
</div>
