{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Item List{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded shadow-md w-full m-4">
    <h2 class="text-2xl font-bold mb-6 text-center">Item List</h2>

    <button class="mb-4 bg-green-600 text-white py-2 px-4 rounded hover:bg-blue-700">
      <a href="{% url 'catalog:create_raw_item' %}?next={{ request.path }}">Create New Item</a>
    </button>

    {% if items %}
      <table class="min-w-full divide-y divide-gray-200">
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Type</th>
            <th>Status</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        {% for item in items %}
          <tr>
            <td>{{item.sku_code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.type}}</td>
            <td>{{item.status}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.description}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p class="text-center text-gray-500">No items available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
