{% if stock_movement %}
<div class="flex items-center justify-center">
    <div class="bg-white p-8 m-4 rounded shadow-md w-full ">
        <!-- <div class="overflow-x-auto"> -->
        <h2 class="text-center">Stock Movement Detail</h2>
        <!-- table definition list style -->
        <table class="table table-zebra table-pin-rows">
            <tbody id="warehouse-table-body">
                <tr>
                    <th class="w-10">Id</th>
                    <td>{{ stock_movement.pk }}</td>
                </tr>
                
                <tr>
                    <th class="w-10">Warehouse</th>
                    <td>{{ stock_movement.warehouse.name }}</td>
                </tr>
                
                <tr>
                    <th class="w-10">Reference Type</th>
                    <td>{{ stock_movement.reference_type }}</td>
                </tr>

                <tr>
                    <th class="w-10">Reference ID</th>
                    <td>{{ stock_movement.reference_id }}</td>
                </tr>

                <tr>
                    <th class="w-10">Note</th>
                    <td>{{ stock_movement.note }}</td>
                </tr>

                <tr>
                    <th class="w-10">Status</th>
                    <td>{{ stock_movement.status }}</td>
                </tr>
                <tr>
                    <th class="w-10">Created by</th>
                    <td>{{stock_movement.created_by}}: {{ stock_movement.created_at|date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <th class="w-10">Updated by</th>
                    <td>{{stock_movement.updated_by}}: {{ stock_movement.updated_at|date:"Y-m-d H:i:s" }}</td>
                </tr>
                
            </tbody>
        </table>
        <!-- button to back -->
        <div class="mt-4 flex justify-center gap-4">
            {% if stock_movement.status == 'DRAFT' %}
            {% include 'shared/modal-form.html' with form_partial='inventory/stock-movement/partials/stock-movement-form.html'%}
            <button
                hx-post="{% url 'inventory:stock-movement-confirm' stock_movement.pk %}"
                hx-confirm="Are you sure you want to confirm this stock movement?"
                hx-on:htmx:after-request="if(event.detail.xhr.status === 200) { window.location.reload(); }"
                class="btn btn-secondary px-24"
            >Confirm</button>
            <button 
                hx-get="{% url 'inventory:stock-movement-edit'  stock_movement.pk %}"
                hx-target="#stock-movement-form-container" 
                hx-swap="innerHTML" 
                hx-trigger="click"
                onclick="document.getElementById('modal-form').showModal()"
                class="btn btn-primary px-24">
                Update
            </button>
            {% endif %}
            <button class="btn btn-info px-24" onclick="history.back()">Go Back</button>
        </div>
    </div>
</div>
{% else %}
<div class="flex items-center justify-center">
    No stock movement items found.
</div>
{% endif %}
